@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.flex-container{
    display: flex;
    color: rgb(190, 78, 145);
}
.flex-container div{
  flex: 1;
}
.flex-container a{
  text-decoration: none;
  color: rgb(222, 72, 207);
}
.flex-container a:hover{
  text-decoration: underline;
}
.container{
  
  background-color: #e2b9d7;
  display: flex;
  justify-content: center;
  height: 700px ;
  align-items: center

}
.login-form h1{
  color: rgb(190, 78, 145);
  text-align: center;
}
.login-form{
  background-color: rgb(232, 227, 231);
  padding: 10px;
  width: 400px;
  border-radius: 25px;
  -webkit-box-shadow: 2px 6px 52px 0px rgba(0,0,0,0.46);
-moz-box-shadow: 2px 6px 52px 0px rgba(0,0,0,0.46);
box-shadow: 2px 6px 52px 0px rgba(0,0,0,0.46);
}
.flex-input{
  display: flex;
  flex-direction: row;
  margin-bottom: 10px ;
  
}
input[type= "text"],
[type= "password"]{
   padding: 10px;
   border: none;
   border-radius: 25px;
   font-size: 16px;
   
  
}
label{
  flex-basis: 130px;
  margin-top: 10px;
  font-size: 20px;
  color:rgb(190, 78, 145)
}
input[type="button"]{
  width: 100%;
  font-size: 20px;
  padding: 10px;
  background-color: rgb(190, 78, 145);
  color: white;
  border: none;
  margin: 20px 0;
  border-radius: 25px;
  -webkit-box-shadow: 2px 6px 52px 0px rgba(0,0,0,0.46);
-moz-box-shadow: 2px 6px 52px 0px rgba(0,0,0,0.46);
box-shadow: 2px 6px 52px 0px rgba(0,0,0,0.46);
}
input[type="button"]:hover{
  cursor: pointer;
  background-color: #e2b9d7;
}
@media all and (max-width: 400px){
  .flex-input{
    flex-direction: column;
  }
  label{
    flex-basis: 0;
  }
}
